name: Django Tests with Coverage and Allure

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r NovaBack/requirements.txt
          pip install coverage allure-pytest

      - name: Run migrations
        working-directory: ./NovaBack
        run: |
          python manage.py migrate

      - name: Run Django tests with coverage and Allure
        working-directory: ./NovaBack
        env:
          DJANGO_SETTINGS_MODULE: NovaBack.settings
        run: |
          mkdir -p tests/results/allure_raw
          pytest . --alluredir=tests/results/allure_raw
          coverage run manage.py test
          coverage xml -o tests/results/coverage.xml

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: NovaBack/tests/results/coverage.xml

      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: NovaBack/tests/results/allure_raw
